
*{
    margin: 0;
    padding: 0;
}
.cl{
    clear: both;
}
.cen{
    margin: 0 auto;
}
.kong2{
    width: 1050px;
    height: 20px;
}
ul li{
    list-style: none;
}

body{
    height: 2000px;
    background:url(../images/body_bg4.jpeg) ;
    background-size: cover; 
}
.header{
    position: relative;
    width: 1050px;
    height: 40px;
    background: url(../images/dh.png) repeat-x;
}

 .header .nav{
    float: left;
    list-style: none;
}
.header li{
    float: left;
    width: 87px;
    line-height: 40px;
    height: 40px;
}
.header .nav li a {
    display: block;
    width: 87px;
    height: 30px;
    color: #818481;
    text-align: center;
    text-decoration: none;
    font-size:14px;
}
 
.header .nav li a:hover {
    color: #818481;
     background: #FBFBFB;
} 


.header .icons{
    position: absolute;
    right: 135px;
    top: 8px;
    width: 80px;
}
.header .icons a{
    text-indent: -9999px;
    float: right;
}
.header .icons .w {
    display: block;
    width: 25px;
     background: url(../images/wb.png)no-repeat;
}
.header .icons .wifi {
    display: block;
    width: 25px;
    background: url(../images/wifi.png)no-repeat;
}
.header .icons .qq{
    display: block;
    width: 25px;
    background: url(../images/qq.png)no-repeat;
}

.header .icons .w:hover {
     background: url(../images/wb.b.png)no-repeat;
}
.header .icons .wifi:hover {
    background: url(../images/wifi.f.png)no-repeat;
}
.header .icons .qq:hover{
    background: url(../images/qq.q.png)no-repeat;
}
.header .sousuo{
    float: right;
}
.header .sousuo .sou{
    position: absolute;
    top: 6px;
    right: 30px;
    width: 90px;
    height: 25px;
}
.header .sousuo img{
    display:block;
    position: absolute;
    top: 4px;
    right: 1px;
}

.banner{
    width: 1050px;
}

.banner  img{
    width: 1050px;
    height: 247px;
}
.conter{  
    position: relative;
    width: 1050px; 
}
.conter .nav2{
    width: 1050px; 
    float: left;
    background: #FBFBFB;
    border-bottom:1px solid  #818481;
}
.conter li{
    float: left;
    width: 87px;
    line-height: 40px;
    height: 40px;
}
.conter .nav2 li a {
    display: block;
    width: 87px;
    height: 30px;
    color: #818481;
    text-align: center;
    text-decoration: none;
    font-size:14px;
}
 
.conter .nav2 li a:hover {
    color: #f0ce38;
     background: #FBFBFB;
} 

.conter .dongtai{
    height: 40px;
    width: 1050px;
    background: #fbfbfb;
}
.conter img{
    position: absolute;
    top: 45px;
    left: 120px;
}
.conter p{
    display:block;
    width: 800px;
    height: 30px;
    background: #fff;
    position: absolute;
    float: right;
    top: 46px;
    line-height: 30px;
    left: 180px;
    border:1px solid #CACACA;
}
.conter_2 .kong{
    padding-bottom: 30px;
    position: absolute;
}
.conter_2{

    width: 1050px;
    height:2100px;
    background: rgba(108, 110, 126,0.4);
}

 .conter_con_1{
    position: relative;
    left:0px;
    top: 30px;
     width: 1010px;
     height:260px;
    background: #FBFBFB;
    border:6px solid #F88C00;
    border-radius: 5px;
}

.conter_con_1 h3{
    border: 1px solid rgb(114, 169, 199);
    border-radius: 10px;
    position: relative;
    left: 20px;
    top: 10px;
    width: 310px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: rgb(72, 180, 238);
}

.conter_con_1 img{
    position: relative;
    left: 30px;
    top: 18px;
    float: left;
}

.conter_con_1 .jianjie{
    position: relative;
    right: 30px;
    top: 20px;
    width: 620px;
    height: 166px;
    line-height: 50px;
    display: block;
    float: right;
    background: rgb(153, 213, 245);
    border: 1px solid rgb(114, 169, 199);
    border-radius: 10px;
}
.conter_con_1 .shouchang{
    float: left;
    position: relative;
    left: 450px;
    top: 23px;
    width: 300px;
    height: 30px;
}
.conter_con_1 .shouchang .store_btn{
    display: block;
    float: left;
    width: 100px;
    height: 26px;
    background: url(../images/shoucang.png);
}

.conter_con_1 .shouchang .store_btn:hover{
    background: url(../images/sc_b.png);
}

.conter_con_1 .shouchang .pl_btn{
    float: left;
    display: block;
    width: 100px;
    height: 26px;
    background: url(../images/fb.png);
}

.conter_con_1 .shouchang .pl_btn:hover{
    background: url(../images/fb_b.png);
}

.conter_con_2_1{
     position: relative;
    left:0px;
    top: 30px; 
    width: 1010px;
    height:1400px;
   background: #FBFBFB;
   border:6px solid #F88C00;
   border-radius: 5px;
}

.conter_con_2_1 .q{
    margin-top: 35px;
    width: 180px;
    color: #fff;
    height:30px;
    background: rgb(248, 129, 93);
    text-align: center;
    line-height: 30px;
}

.conter_con_2_1 .bottom_bg{
    overflow: hidden;
    width: 980px;
    background: #fff;
    padding: 10px 0 0 10px;
}

.conter_con_2_1 ul{
    background: rgb(240, 136, 105);
    float: left;
    width: 273px; 
    margin-left: 30px;
 
}
.conter_con_2_1 ul li{ 
    overflow: hidden;
   margin-top: 5px;
 
}
.conter_con_2_1  img {
    float: left;
} 

.conter_con_2_1 p{
    width: 273px;
    height: 120px;
    font: 10px/30px "微软雅黑";
    border-top: 2px dashed #CACACA;
    text-align: center;
} 

 .conter_con_2_1 li a {
     display: block;
     width: 230px;
    color: rgb(29, 27, 27);
    text-align: center;
    text-decoration: none;
    font-size:14px;
}
 
.conter_con_2_1 a:hover {
    color: #FF6600;
}  



.conter_con_2{
    position: relative;
   left:0px;
   top: 30px; 
   width: 1010px;
   height:300px;
  background: #FBFBFB;
  border:6px solid #F88C00;
  border-radius: 5px;
}

.conter_con_2 .q{
   margin-top: 35px;
   width: 180px;
   color: #fff;
   height: 30px;
   background: #EC6E47;
   text-align: center;
   line-height: 30px;
}

.conter_con_2 .bottom_bg{
   overflow: hidden;
   width: 980px;
   background: #fff;
   padding: 10px 0 0 10px;
}

.conter_con_2 ul{
    margin-left: 35px;
   background: #EC6E47;
   float: left;
   width: 273px;
}
.conter_con_2 ul li{ 
     border: 1px solid #dddddd;
   overflow: hidden;
  margin-top: 5px;
}
.conter_con_2  img {
   float: left;
} 

.conter_con_2 p{
   width: 229px;
   height: 120px;
   font: 10px/30px "微软雅黑";
   text-align: center;
} 
.conter_con_2 li a {
    display: block;
    width: 230px;
   color: rgb(29, 27, 27);
   text-align: center;
   text-decoration: none;
   font-size:14px;
}

.conter_con_2 a:hover {
   color: #FF6600;
}  



.footer{
    position: relative;;
    width: 1050px;
    height: 250px;
    font-size: 12px;
    background: rgb(246, 249, 250);
    color: #6c6e7e;
    line-height: 95px;
    border-top: 5px solid #F88C00;
}
.footer img{
    position: absolute;;
    top:37px;
    left: 80px;
    float: left;
}
.footer .p{
    position: absolute;;
    left: 185px;
    float: left;
}
.footer p {
    height: 50px;
}

.footer span {
    height: 50px;
    margin-top: 20px;
}

.footer p a{
    text-decoration: none;
    color: #6c6e7e;
}

.footer p a:hover{
    text-decoration: none;
    color: #818481;
}
.dan{
    position: fixed;
    right:2%;
    top: 5%;
  }